.re-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgba(0,0,0,.7);
}
.re-text-light{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9);
}
#app .md-helper-text{
    color: red;
}